
{% extends "base.html" %}
{% block body_contents %}

 <div class="container">
    <div class="row">
        
        <div class="col-md-8 col-md-offset-2">
            
            <h1>Create post</h1>
            



            <form method="POST" action="{{url_for('processPost', userid = session['user'])}}">

                
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea rows="5" class="form-control" name="message" ></textarea>
                </div>
                
                <div class="form-group">
                    <p><span class="require">500 words max</span></p>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Create
                    </button>
                    <button class="btn btn-default">
                        Cancel
                    </button>
                </div>
                
            </form>
        </div>
        
    </div>
</div>
{% endblock %}
